.passwordGeneratorContainer{
    background-color: rgb(170, 16, 16);
  
    border:2px solid  rgb(170, 16, 16);
    border-radius:5px;
}

.generatedPasswordContainer input{
    width:91%;
    display:inline-block;
    border:2px solid  rgb(170, 16, 16);
    outline:2px solid rgb(170, 16, 16) ;
    outline-offset:0;
}

.generatedPasswordContainer button {
    border: 2px solid rgba(231, 69, 69, 0.9);
    color: white; 
    background-color: rgba(231, 69, 69, 0.9);
    height:20px;
    border-radius: 5px;
}

.generatedPasswordContainer button:hover{
    border: 2px solid rgba(231, 69, 69, 0.9);
    background-color: white;
    color:rgba(231, 69, 69, 0.9);
}

.generatedPasswordContainer button:active{
    background-color: green;
}

.generatePasswordControllers{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}


