.Main {
    background-color: color(from color srgb r g b);
    height:85vh;
    overflow:auto ;
  }

  .logout-panel{
    min-width:100%;
    min-height:100%;
    background-color: rgba(214, 199, 199, 0.1);
    /* display: none; */
    position:absolute;
    top:0;
    right:0;

    display: grid;
    place-items: center;
  }

  .logout-box{
    width:250px;
    height:100px;
    background-color: rgb(244, 244, 238);
    /* margin-left: 20px; */
  }

  .logout-box p{
    margin-top: 10px;
  }

  .logout-options{
    margin-top:25px;
    display: flex;
    justify-content: space-evenly;
  }

  .logout-options button{
    width:50px;
    padding: 5px;
  }